@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --messenger-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);
  --shadow-1: 0px 5px 12px rgba(52, 72, 84, 0.2);
  --shadow-2: 0px 0px 12px rgba(52, 72, 84, 0.05);
  --shadow-3: 0px 8px 20px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --messenger-gray: #f0f2f5;
  --messenger-gray-dark: #e4e6eb;

  --messenger-blue-hover: #ebf5ff;
  --messenger-blue: #2061f3;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
}
