.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .auth-wraper {
    width: 700px;
    height: 70vh;
    border: 1px solid #e9e9e9;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .auth-top {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .profile-photo-wrap {
        width: 200px;
        height: 200px;
        background-color: #ccc;
        font-size: 100px;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        &:hover {
          .profile-photo-upload {
            transform: translate(0, -50px);
          }
        }

        .profile-photo-upload {
          height: 50px;
          width: 200px;
          display: block;
          cursor: pointer;
          font-size: 14px;
          line-height: 30px;
          background-color: rgba(0, 0, 0, 0.5);
          transition: all 0.5s;
          color: white;
          input {
            display: none;
          }
        }

        span {
          line-height: 200px;

          img {
            width: 200px;
            height: 200px;
          }
        }
      }

      .auth-form {
        width: 400px;

        form {
          display: flex;
          gap: 10px;
          flex-direction: column;

          input,
          button {
            padding: 7px;
            border: none;
            background-color: #e9e9e9;
            border-radius: 5px;
            cursor: pointer;
          }
        }

        a {
          font-size: 14px;
          color: #333;
          margin-top: 20px;
          display: block;
        }
      }
      img {
        width: 60px;
      }

      h1 {
        text-align: center;
        font-size: 24px;
      }

      p {
        text-align: center;
      }
    }
    .auth-bottom {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      a {
        width: 300px;
        background-color: #e9e9e9;
        color: #333;
        text-align: center;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 14px;
      }
    }
  }
}
